body {
  background-color: black;
  padding: 0px;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation {
  display: flex;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  position: fixed;
  background-color: black;
  }

.navigation img {
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
  color: seashell;
  }

ul {display: flex;}

.list {
  display: flex;
  width: 85%;
  justify-content: flex-end;
}

li {
  display: inline;
  }

a {
  color: seashell;
  margin-left: 20px;
  font-family: Helvetica;
  font-size: 22px;
  opacity: .9px;
  }

.fall img, .rum img, .donuts img, .myrtle img, .bedford img {
  width: 300px;
  height: 200px;
}

#mission {
  display: flex;
  background-image: url("C:/Users/Mary/test/git_practice/marypb.github.io/TeaCozy/Resources/Images/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  align-items: center;
}

.missiontext {
  display: flex;
  background-color: black;
  width: 100%;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  height: 100px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  }

  .missiontext h2 {margin: 10px 0;}
  .missiontext h4 {margin: 10px 0;}

.headers {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  margin-bottom: 20px;
  width: 1000px;
}

#teasection {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  #tea {
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    justify-content: center;
    }

.headers h2 {margin: 10px 0;}

.headers p {
  font-weight: bold;
  margin: 10px 0;
  }

#locations {
    display: flex;
    background-image: url("C:/Users/Mary/test/git_practice/marypb.github.io/TeaCozy/Resources/Images/img-locations-background.jpg");
    height: 500px;
    width: 1200px;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.locations2 {
  display: flex;
  }

  .downtown, .bayside, .oakdale {
    display: inline-flex;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    width: 300px;
    height: 300px;
    flex-direction: column;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    padding: auto;
    }

    .oakdale, .bayside {margin-left: 40px;}

    .downtown p, .bayside p, .oakdale p {text-align: center;}

  footer {
    display: flex;
    flex-direction: column;
  }

  .information {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    height: 200px;
  }

  .copyright {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
  }
