body {
  background-color: black;
  padding: 0px;
}

.navigation {
  display: flex;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  /*position: fixed;*/
}

.navigation img {
  height: 50px;
  margin-left: 10px;
  color: seashell;
}

h2, h3, p {color: seashell;}

ul {display: flex;}

.list {
  display: flex;
  width: 85%;
  justify-content: flex-end;
}

li {
  display: inline;
  }

a {
  color: seashell;
  margin-left: 20px;
  font-family: Helvetica;
  font-size: 22px;
  opacity: .9px;
  }

.fall img, .rum img, .donuts img, .myrtle img, .bedford img {
  width: 300px;
  height: 200px;
}

#mission {
  display: flex;
  background-image: url("C:/Users/Mary/test/git_practice/marypb.github.io/TeaCozy/Resources/Images/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
}

.missiontext {
  background-color: black;
  width: 700px;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
}
